---
import BaseLayout from '../../layouts/BaseLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import {getCollection} from 'astro:content';
import Link from "../../components/Link.vue"
import config from '../../config.js';

const allPosts = (await getCollection("blog"))
    .filter((post) => post.data.published)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout pageTitle="Blogs">
    <!-- 页面标题 -->
    <h1 class="text-3xl font-bold text-neutral-800 tracking-wide mb-10 border-b border-neutral-200/50 pb-4 pt-10">
      Blogs
    </h1>
    <ul class="list-none p-0 flex flex-col justify-start">
        {
            allPosts.map((post) => (
                    <li class="flex items-center">
                        <FormattedDate class="flex-none italic text-neutral-500" date={post.data.pubDate}/>
                        <span>&nbsp;-&nbsp;</span>
                        <Link href=`/blog/${post.id}/`>{post.data.title}</Link>
                    </li>
            ))
        }
    </ul>
</BaseLayout>