@import "tailwindcss";

:root {

}

::-webkit-scrollbar {
    width: 3px;
    background: #ffffff00;
}


::-webkit-scrollbar-thumb {
    border-radius: 4px; /* 圆角 */
    border: 4px solid #1f6dda;
}

* {
    box-sizing: border-box;
    font-family: 'Smiley Sans Oblique';
    font-weight: 400;
}

/*
BlogPost 页面样式
*/
code {
    padding: 2px 5px;
    background-color: oklch(95.1% 0.026 236.824);
    border-radius: 4px;
    color: oklch(54.6% 0.245 262.881);
}

pre {
    padding: 1rem;
}

pre > code {
    all: unset;
}

blockquote {
    border-left: 5px solid #1f6dda;
    color: oklch(44.2% 0.017 285.786);
    background: oklch(92.3% 0.003 48.717);
    padding: 0 0 0 10px;
    margin: 10px 0px;
    font-style: italic;
}

/*
动画
*/
main > * {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.5s ease-out forwards;
}


@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}