---
import BaseLayout from '../layouts/BaseLayout.astro';
import Link from '../components/Link.vue'
---

<BaseLayout>
    <div class="min-h-[90vh] flex flex-col items-center justify-center">
        <img class="my-2 w-[50%] mx-auto" src="/Saleri.png" alt=""/>
        <h1 class="text-center text-[14px]">「 Connecting the dots 」</h1>
        <p class="text-center text-[14px]">学习 && 摄影 && 骑行 && 游戏</p>
    </div>
</BaseLayout>