---
import BaseLayout from "../layouts/BaseLayout.astro";
import config from "../config.js";
import HeaderLink from "../components/HeaderLink.astro";
---

<BaseLayout>
    <div class="py-8 font-light">
        <!-- Profile / Name Heading -->
        <img class="my-2 w-[50%] mx-auto" src="/Saleri.png" alt="" />
        <p class="text-center text-[14px]">「 Connecting the dots 」</p>
        <!-- Intro Sentence -->
        <p class="text-neutral-700 text-[19px] leading-relaxed mb-4">
            Hello! 我是 Saleri, 一个热爱学习和游戏的开发者.
        </p>
        <!-- Description Paragraphs -->
        <div class="space-y-6 text-neutral-700 leading-relaxed mb-8">
            <p>
                我热衷于把脑子里的想法变成现实。我喜欢写代码来帮助自己和他人提高效率，享受创造的过程。
            </p>
            <p>
                我把关于开源、编程、游戏设计笔记以及日常所学的记录在我的
                <HeaderLink href="/blog">Blog</HeaderLink> 中。
                <br />
                不时地，我也会在
                <HeaderLink href="/every">Every</HeaderLink> 中记载我的个人想法和心得。
            </p>
            <p>
                在编程和学习之外，我也喜欢拍照来记录美好瞬间。如果您对我的作品感兴趣，欢迎随时查看我的
                <HeaderLink href="/artwork">Artwork</HeaderLink>。
            </p>
        </div>
    </div>
</BaseLayout>
